[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
crispy-forms-semantic-ui = "*"
django-semanticui-forms = "*"
django-mathfilters = "*"
pandas = "*"
xlrd = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
